/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


/* 
.logo {
    width: 100px;
}


/* .topButtons div {
    flex-direction: row;
}
*/

div {
    border: 1px solid blue;
    width: auto;
   
}
nav {
    border: 5px solid red;
    width: 100vw;
}


.topButtons button{
    margin-left: 30px;
    background-color: #540B51;
    color: #540B51;
    border: none;
} 

.topButtons img{
    height: 30px;
    width: 30px;
}

#top-bar{
    background-color:#540B51 ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav#top-bar{
    width: 825px;
}

body{
    background-color: #540B51;
    width: 825px;
}
body>header>div>h1 {
    color: white;

}

body>header>div {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

body>header>div>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

body>header>div>div>button {
    width: 400px;
    height: 50px;
    display: block;
    margin: 5px auto;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
}

.greatTeamwork {
    background-color: #540B51;
    

}
.responsive {
    max-width: 200vw;
}


.signButton {
    background-color: white;
    color: #540B51;
    font-weight: 500;
}

.googleButton {
    background-color: #4285F4;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.googleButton img{
    height: 23px;
    background-color: white;
    padding: 8px 9px;
    border-radius: 1px;
    align-items: left;
    justify-items: left;
}

.googleButton span{
    color: white;
    margin-left: 85px;
}
body>header>div p>span {
    color: #ECB12F;
}

header>div p{
    color: white;
}

.logo {
    width: 100px;
}

body {
    overflow-x: auto;
    font-family: verdana, Arial, sans-serif; 
    display: block;
    font-size: 16px;
} 
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px; 
    }
  }
  
@media (max-width: 769px) {
    body {
        word-wrap: break-word;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
   body {
    background-color: red;
   } 
}

.main div{
display: flex;
flex-wrap: wrap;
}

.main img{
    height: 30%;
    width: 30%;
}

body>main>section{
    background-color: #F3EAE2;
}