/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

.topButtons button{
    margin-left: 30px;
    background-color: #540B51;
    color: #540B51;
    border: none;
} 

.topButtons img{
    height: 30px;
    width: 30px;
}

#top-bar{
    background-color:#540B51 ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
}

nav#top-bar{
    width: auto;
}


body{
    background-color: #540B51;
    width: 100%;
}


body>header>div {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

body>header>div>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

body>header>div>div>button {
    width: 400px;
    height: 50px;
    display: block;
    margin: 5px auto;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
}

.greatTeamwork {
    background-color: #540B51;
}

.greatTeamwork h1{
    text-align: center;
    text-justify: auto;
    font-weight: lighter;
    font-size: 250%;
    color: white;
}
.responsive {
    max-width: 96%;
}


.signButton {
    background-color: white;
    color: #540B51;
    font-weight: bolder;
}

.googleButton {
    background-color: #4285F4;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.googleButton img{
    height: 23px;
    background-color: white;
    padding: 8px 9px;
    border-radius: 1px;
    align-items: left;
    justify-items: left;
}

.googleButton span{
    color: white;
    margin-left: 85px;
}

body>header>div p>span {
    color: #ECB12F;
}

header>div p{
    color: white;
}

.logo {
    width: 100px;
}

body {
    overflow-x: auto;
    font-family: verdana, Arial, sans-serif; 
    display: block;
    font-size: 16px;
} 

.mainCompanies img{
height: 60px;
margin: 3px;
}

.mainCompanies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main img{
    height: 30%;
    width: 30%;
}

body>main>section{
    background-color: #F3EAE2;
    width: 100%;
    justify-content: center;
}

body>main>section>p{
    text-transform: uppercase;
    font-weight: bolder;
    padding: 80px 0;
    text-align: center;
}

.titulo {
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
}

/* @media (max-width: 768px) {
    {

    }
}
*/

@media screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto; 
    }
  } 
  

@media (min-width: 769px) and (max-width: 1024px) {
   body {
    background-color: red;
   } 
}

/* *{
    margin: 0;
    padding: 0;
} */