/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

.topButtons button{
    margin-left: 30px;
    background-color: #540B51;
    color: #540B51;
    border: none;
} 

.topButtons img{
    height: 30px;
    width: 30px;
}

.top-bar{
    background-color:#540B51 ;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
}

body{
    background-color: #540B51;
    width: 100%;
}


body>header>div {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

body>header>div>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

body>header>div>div>button {
    width: 400px;
    height: 50px;
    display: block;
    margin: 5px auto;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
}

.greatTeamwork {
    background-color: #540B51;
}

.greatTeamwork h1{
    text-align: center;
    text-justify: auto;
    font-weight: lighter;
    font-size: 250%;
    color: white;
}

.responsive {
    max-width: 96%;
}

.responsive2 {
    max-width: 96%;
    text-align: right;
}

.signButton {
    background-color: white;
    color: #540B51;
    font-weight: bolder;
}

.googleButton {
    background-color: #4285F4;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.googleButton img{
    height: 23px;
    background-color: white;
    padding: 8px 9px;
    border-radius: 0.2rem;
    align-items: left;
    justify-items: left;
}

.googleButton span{
    color: white;
    margin-left: 85px;
}

body>header>div p>span {
    color: #ECB12F;
}

header>div p{
    color: white;
}

.logo {
    width: 100px;
}

body {
    overflow-x: auto;
    font-family: verdana, Arial, sans-serif; 
    display: block;
    font-size: 16px;
} 

.mainCompanies img{
    height: 2em;
    margin-bottom: 1em;
}

.mainCompanies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

body>main>section{
    background-color: #F3EAE2;
    width: 100%;
    justify-content: center;
}

body>main>section>p{
    text-transform: uppercase;
    font-weight: bolder;
    padding: 40px 0;
    text-align: center;
    font-size: 70%;
}

body>main section>div>img{
    justify-content: right;
}

.titulo {
    font-size: 1.2rem;
    font-weight: bolder;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}

.description {
    font-size: 0.9rem;
    padding-left: 0.9rem;
}

.link {
    font-size: 0.7rem;
    padding-left: 0.9rem;
    color: #2E71A6;
    padding: 0.5rem 0;
    text-decoration-style: none;
}

.section3 {
    background-color: white;
    padding: 2rem 0;
    word-wrap: break-word;
    margin: auto;
}

.description3 {
    text-transform: lowercase;
    padding: 5rem;
}

.middleButton1 {
    padding: 1rem;
    background-color: #540B51;
    color: #540B51;
    border: none;
    color: white;
    margin: 1 rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
} 

.middleButton2 {
    padding: 1rem;
    background-color: white;
    color: #540B51;
    border-color: solid #540B51;
    box-shadow: none;
    border-radius: 0.1rem;
    margin: 1 rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
} 

.buttons2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.numbers span{
    font-size: 3rem;
    font-weight: bolder;
    color:#540B51;
    justify-content: center;
    align-items: center;
}
.section4 {
    background-color: #540B51;

}

.footer{
    background-color: white;
}
/* @media (max-width: 768px) {
    {

    }
}
*/

@media screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto; 
    }
  } 
  

@media (min-width: 769px) and (max-width: 1024px) {
   body {
    background-color: red;
   } 
}

*{
    margin: 0;
    padding: 0;
}